{% extends 'base.html' %}
{% load static %}

{% block title %}
CRM-Home
{% endblock  %} 

{% block content %}

<section id="nav-section">
    <div class="container">
        <div class="box mb-5">
            {% include 'navbar.html' %}
        </div>
    </div>
    
</section>

<section id="sectiontwo">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 mt-5">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class=" btn-search" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-5">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn-new p-2" type="button" data-bs-toggle="modal" data-bs-target="#sectionmodal">New Section <i class="fas fa-plus-circle"></i></button>

                </div>
            </div>
            <div class="col-lg-4 mt-5">
                
            </div>
            <div class="col-lg-4 mt-lg-5">
                <div class="d-flex gap-3 justify-content-end dropdown-container">
                    <div class="dropdown">
                        <a class="text-decoration-none main-color"><i class="fas fa-filter"></i> Filter</a>
                        <div class="dropdown-content">
                            <!-- Dropdown options go here -->
                            <a href="#">Option 1</a>
                            <a href="#">Option 2</a>
                            <a href="#">Option 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a class="text-decoration-none main-color" ><i class="fas fa-layer-group"></i> Group by</a>
                        <div class="dropdown-content">
                            <!-- Dropdown options go here -->
                            <a href="#">Group A</a>
                            <a href="#">Group B</a>
                            <a href="#">Group C</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a class="text-decoration-none main-color" href=""><i class="fas fa-star"></i> Favourites</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section id="cardsection">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-3" id="section 1">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="fw-bold">Section 1</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-end">
                            <a class="text-decoration-none text-black-50 newbtn" data-bs-toggle="modal" data-bs-target="#cardmodal">New <i class="fas fa-plus text-black-50"></i></a>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-1 g-0">
                            <!-- card1 -->
                            <div class="col">
                              <div class="card bg-body-tertiary" draggable="true" id="card1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h6>Office Design Project</h6>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="dropdown ">
                                                <h6 class="">
                                                  <i class="fas fa-ellipsis-h"></i>
                                                </h6>
                                                <div class="dropdown-content text-start">
                                                  <a href="#">Edit</a>
                                                  <a href="#" class="archive-link">Archive</a>
                                                  <a href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>$ <span>50,000</span></div>
                                            <div class="d-flex gap-2 mt-1">
                                                <div class="badge bg-success">new project</div>
                                                <div class="badge bg-success">design</div>
                                                <div class="badge bg-success">Art</div>
                                                
                                            </div>
                                            <div class="rating1">
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                            </div>
                                               
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="d-flex gap-4 main-color">
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-phone"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>856874586</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-envelope"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>sample@gmail.com</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-users"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>member 1</a>
                                                      <a>member 2</a>
                                                      <a>member 3</a>
                                                    </div>
                                                </div>
                                                
                                            </div>
    
                                        </div>
                                        <div class="col-2">
                                            <div class="dropdown main-color">
                                                <h6 class="">
                                                    <i class="far fa-calendar-alt"></i>
                                                </h6>
                                                <div class="dropdown-content1 text-start">
                                                  <a>26-03-2024</a>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                              </div>
                            </div>
                            <!-- card 2 -->
                            <div class="col">
                                <div class="card bg-body-tertiary" draggable="true" id="card2">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-10">
                                              <h6>Quote for 50 Laptops</h6>
                                          </div>
                                          <div class="col-2 text-end">
                                              <div class="dropdown ">
                                                  <h6 class="">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                  </h6>
                                                  <div class="dropdown-content text-start">
                                                    <a href="#">Edit</a>
                                                    <a href="#" class="archive-link">Archive</a>
                                                    <a href="#">Delete</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
      
                                      <div class="row">
                                          <div class="col-lg-12">
                                              <div>$ <span>150,0000</span></div>
                                              <div class="d-flex gap-2 mt-1">
                                                  <div class="badge bg-success">urgent</div>
                                                  
                                                  
                                              </div>
                                              <div class="rating1">
                                                  <span class="star selected"></span>
                                                  <span class="star selected"></span>
                                                  <span class="star selected"></span>
                                              </div>
                                                 
                                              
                                          </div>
                                          
                                      </div>
                                      <div class="row">
                                          <div class="col-10">
                                              <div class="d-flex gap-4 main-color">
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-phone"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>7896542355</a>
                                                      </div>
                                                  </div>
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-envelope"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>sample1@gmail.com</a>
                                                      </div>
                                                  </div>
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-users"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>member 1</a>
                                                        <a>member 2</a>
                                                        <a>member 3</a>
                                                      </div>
                                                  </div>
                                                  
                                              </div>
      
                                          </div>
                                          <div class="col-2">
                                              <div class="dropdown main-color">
                                                  <h6 class="">
                                                      <i class="far fa-calendar-alt"></i>
                                                  </h6>
                                                  <div class="dropdown-content1 text-start">
                                                    <a>25-03-2024</a>
                                                   
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
      
                                  </div>
                                </div>
                            </div>
      
                            
    
                        </div>
                        
    
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3" id="section 2">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="fw-bold">Section 2</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-end">
                            <a class="text-decoration-none text-black-50 newbtn" data-bs-toggle="modal" data-bs-target="#cardmodal">New <i class="fas fa-plus text-black-50"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-1 g-0">
                            <!-- card1 -->
                            <div class="col">
                              <div class="card bg-body-tertiary" draggable="true" id="card3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h6>Distributor Contract</h6>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="dropdown ">
                                                <h6 class="">
                                                  <i class="fas fa-ellipsis-h"></i>
                                                </h6>
                                                <div class="dropdown-content text-start">
                                                  <a href="#">Edit</a>
                                                  <a href="#" class="archive-link">Archive</a>
                                                  <a href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>$ <span>80,000</span></div>
                                            <div class="d-flex gap-2 mt-1">
                                                <div class="badge bg-success">information</div>
                                                <div class="badge bg-success">other</div>
                                            </div>
                                            <div class="rating1">
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                            </div>
                                               
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="d-flex gap-4 main-color">
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-phone"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>9956874586</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-envelope"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>sample3@gmail.com</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-users"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>member 1</a>
                                                      <a>member 2</a>
                                                      
                                                    </div>
                                                </div>
                                                
                                            </div>
    
                                        </div>
                                        <div class="col-2">
                                            <div class="dropdown main-color">
                                                <h6 class="">
                                                    <i class="far fa-calendar-alt"></i>
                                                </h6>
                                                <div class="dropdown-content1 text-start">
                                                  <a>28-03-2024</a>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                              </div>
                            </div>
      
                            
    
                        </div>
                        
    
                    </div>
                </div>

                
            </div>
            <div class="col-lg-3" id="section 3">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="fw-bold">Section 3</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-end">
                            <a class="text-decoration-none text-black-50 newbtn" data-bs-toggle="modal" data-bs-target="#cardmodal">New <i class="fas fa-plus text-black-50"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-1 g-0">
                            <!-- card1 -->
                            <div class="col">
                              <div class="card bg-body-tertiary" draggable="true" id="card1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h6>Need 20 Desks</h6>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="dropdown ">
                                                <h6 class="">
                                                  <i class="fas fa-ellipsis-h"></i>
                                                </h6>
                                                <div class="dropdown-content text-start">
                                                  <a href="#">Edit</a>
                                                  <a href="#" class="archive-link">Archive</a>
                                                  <a href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>$ <span>50,000</span></div>
                                            <div class="d-flex gap-2 mt-1">
                                                <div class="badge bg-success">product</div>
                                                <div class="badge bg-success">consulting</div>
                                                
                                                
                                            </div>
                                            <div class="rating1">
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                            </div>
                                               
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="d-flex gap-4 main-color">
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-phone"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>856874586</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-envelope"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>sample@gmail.com</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-users"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>member 1</a>
                                                      
                                                    </div>
                                                </div>
                                                
                                            </div>
    
                                        </div>
                                        <div class="col-2">
                                            <div class="dropdown main-color">
                                                <h6 class="">
                                                    <i class="far fa-calendar-alt"></i>
                                                </h6>
                                                <div class="dropdown-content1 text-start">
                                                  <a>28-03-2024</a>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                              </div>
                            </div>
                            <!-- card 2 -->
                            <div class="col">
                                <div class="card bg-body-tertiary" draggable="true" id="card2">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-10">
                                              <h6>Info about Services</h6>
                                          </div>
                                          <div class="col-2 text-end">
                                              <div class="dropdown ">
                                                  <h6 class="">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                  </h6>
                                                  <div class="dropdown-content text-start">
                                                    <a href="#">Edit</a>
                                                    <a href="#" class="archive-link">Archive</a>
                                                    <a href="#">Delete</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
      
                                      <div class="row">
                                          <div class="col-lg-12">
                                              <div>$ <span>150,0000</span></div>
                                              <div class="d-flex gap-2 mt-1">
                                                <div class="badge bg-success">product</div>
                                                  
                                                  
                                              </div>
                                              <div class="rating1">
                                                  <span class="star selected"></span>
                                                  <span class="star selected"></span>
                                                  <span class="star selected"></span>
                                              </div>
                                                 
                                              
                                          </div>
                                          
                                      </div>
                                      <div class="row">
                                          <div class="col-10">
                                              <div class="d-flex gap-4 main-color">
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-phone"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>7896542355</a>
                                                      </div>
                                                  </div>
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-envelope"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>sample1@gmail.com</a>
                                                      </div>
                                                  </div>
                                                  <div class="dropdown ">
                                                      <h6 class="">
                                                          <i class="fas fa-users"></i>
                                                      </h6>
                                                      <div class="dropdown-content1 text-start">
                                                        <a>member 1</a>
                                                        <a>member 2</a>
                                                        
                                                      </div>
                                                  </div>
                                                  
                                              </div>
      
                                          </div>
                                          <div class="col-2">
                                              <div class="dropdown main-color">
                                                  <h6 class="">
                                                      <i class="far fa-calendar-alt"></i>
                                                  </h6>
                                                  <div class="dropdown-content1 text-start">
                                                    <a>25-03-2024</a>
                                                   
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
      
                                  </div>
                                </div>
                            </div>
      
                            
    
                        </div>
                        
    
                    </div>

                </div>
                
            </div>
            <div class="col-lg-3" id="section 4">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="fw-bold">Section 4</h6>
                    </div>
                    <div class="col-lg-6">
                        <div class="box text-end">
                            <a class="text-decoration-none text-black-50 newbtn" data-bs-toggle="modal" data-bs-target="#cardmodal">New <i class="fas fa-plus text-black-50"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-1 g-0">
                            <!-- card1 -->
                            <div class="col">
                              <div class="card bg-body-tertiary" draggable="true" id="card3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h6>Quote for 600 chairs</h6>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="dropdown ">
                                                <h6 class="">
                                                  <i class="fas fa-ellipsis-h"></i>
                                                </h6>
                                                <div class="dropdown-content text-start">
                                                  <a href="#">Edit</a>
                                                  <a href="#" class="archive-link">Archive</a>
                                                  <a href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>$ <span>180,000</span></div>
                                            <div class="d-flex gap-2 mt-1">
                                                <div class="badge bg-success">urgent</div>
                                                <div class="badge bg-success">product</div>
                                                <div class="badge bg-success">other</div>
                                            </div>
                                            <div class="rating1">
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                                <span class="star selected"></span>
                                            </div>
                                               
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="d-flex gap-4 main-color">
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-phone"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>9956874586</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-envelope"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>sample3@gmail.com</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown ">
                                                    <h6 class="">
                                                        <i class="fas fa-users"></i>
                                                    </h6>
                                                    <div class="dropdown-content1 text-start">
                                                      <a>member 1</a>
                                                      <a>member 2</a>
                                                      
                                                    </div>
                                                </div>
                                                
                                            </div>
    
                                        </div>
                                        <div class="col-2">
                                            <div class="dropdown main-color">
                                                <h6 class="">
                                                    <i class="far fa-calendar-alt"></i>
                                                </h6>
                                                <div class="dropdown-content1 text-start">
                                                  <a>28-03-2024</a>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                              </div>
                            </div>
      
                            
    
                        </div>
                        
    
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</section>



<!--section Modal -->
<div class="modal fade" id="sectionmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header main-color">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Section</h1>
        </div>
        <div class="modal-body">
          <form action="">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Section Title">
            <Textarea class="form-control mt-2 mb-2" rows="1" placeholder="Description"></Textarea>
            <button type="submit" class="btn-new w-25">Save</button>
          </form>
        </div>
        
      </div>
    </div>
</div>

<!--card Modal -->
<div class="modal fade" id="cardmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header main-color">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Card</h1>
        </div>
        <div class="modal-body">
          <form action="">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Title">
            <Textarea class="form-control mt-2 mb-2" rows="1" placeholder="Description"></Textarea>
            <input type="text" class="form-control mt-2 mb-2" placeholder="Amount">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Contact Number">
            <input type="text" class="form-control mt-2 mb-2" placeholder="Email">
            <input type="text" class="form-control" id="tags" placeholder="Enter tags separated by commas">
            <select class="form-select mt-2 mb-2" name="" id="">
                <option value="" hidden>select members</option>
                <option value="">member 1</option>
                <option value="">member 1</option>
                <option value="">member 1</option>
            </select>
            <input type="date" class="form-control">
            <div class="row">
                <div class="col-3">
                    <p class="mt-2 mb-2">Priority</p>
                </div>
                <div class="col-9">
                    <div class="rating">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                </div>
            </div>
            



            <button type="submit" class="btn-new w-25 mt-3 mb-3">Save</button>
          </form>
        </div>
        
      </div>
    </div>
</div>


<style>
    .form-control {
        border-color: #2b5876; 
    }
    .form-control:focus {
        box-shadow: none !important; /* Remove box shadow on focus */
        border-color: #2b5876; 
        
    }
    .form-select {
        border-color: #2b5876; 
    }
    .form-select:focus {
        box-shadow: none !important; /* Remove box shadow on focus */
        border-color: #2b5876; 
        
    }
    .input-group-text{
        border-color: #2b5876;
    }
    .btn-search{
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
        color: white;
        padding: 8px;
        border-radius: 5px;
    }
    .btn-search:hover{
        color: white;
    }
    .btn-new{
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
        color: white;
        padding: 5px;
        border-radius: 5px;
        

    }
    .btn-leads{
        background-image: linear-gradient(-20deg, #f5f5f5 0%, #eeeeee 100%);
        color:#2b5876;
        padding: 5px;
        border-radius: 5px;
        

    }
    .main-color{
        color: #2b5876;
    }

    .custom-progress {
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

    }
    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a:hover{
        border-left: 3px solid  #2b5876;
        color:  #2b5876;
       
    }

    .dropdown-content1 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content1 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content1 {
        display: block;
        color: black;
    }
    

    
</style>
<style>
    .card{
        height: 200px;
        cursor: pointer;
    }
    .rating {
        unicode-bidi: bidi-override;
    }

    .star {
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
    }

    .star.selected:before {
        content: '\2605'; /* Unicode filled star character */
        color: gold;
    }

    .star:before {
        content: '\2606'; /* Unicode outline star character */
        font-size: 30px; /* Adjust star size */
    }

    .rating1 {
        unicode-bidi: bidi-override;
    }

    .star1 {
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
    }

    .star1.selected:before {
        content: '\2605'; /* Unicode filled star character */
        color: gold;
    }

    .star1:before {
        content: '\2606'; /* Unicode outline star character */
        font-size: 30px; /* Adjust star size */
    }
</style>

<style>
    .contact-details {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .picon {
        margin-right: 5px;
    }
    .eicon {
        margin-right: 5px;
    }

    .picon-text {
        display: none;
    }
    .eicon-text {
        display: none;
    }
    .contact-details:hover .picon-text .eicon-text {
        display: inline-block;
    }
</style>

<style>
    .newbtn{
        cursor: pointer;
    }
    .modal-header{
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
        color: white;
    }
</style>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const stars = document.querySelectorAll('.star');

        stars.forEach(function(star, index) {
            star.addEventListener('click', function() {
                removeSelected();
                for (let i = 0; i <= index; i++) {
                    stars[i].classList.add('selected');
                }
            });
        });

        function removeSelected() {
            stars.forEach(function(star) {
                star.classList.remove('selected');
            });
        }
    });
</script>

<script>
    const cards = document.querySelectorAll('.card');
    const sections = document.querySelectorAll('.col-lg-3');
    const archiveLinks = document.querySelectorAll('.archive-link');

    cards.forEach(card => {
        card.addEventListener('dragstart', dragStart);
        card.addEventListener('dragover', dragOver);
        card.addEventListener('dragend', dragEnd);
    });

    sections.forEach(section => {
        section.addEventListener('dragover', dragOver);
        section.addEventListener('drop', drop);
    });

    archiveLinks.forEach(link => {
        link.addEventListener('click', archiveCard);
    });

    function dragStart() {
        this.classList.add('dragging');
    }

    function dragOver(e) {
        e.preventDefault();
        const draggingCard = document.querySelector('.dragging');
        const targetSection = this.closest('.col-lg-3');

        if (targetSection && draggingCard) {
            targetSection.appendChild(draggingCard);
        }
    }

    function dragEnd() {
        this.classList.remove('dragging');
    }

    function drop(e) {
        e.preventDefault();
        const draggingCard = document.querySelector('.dragging');
        if (draggingCard && !this.querySelector('.card')) {
            this.appendChild(draggingCard);
        }
    }

    function archiveCard(e) {
        e.preventDefault();
        const card = this.closest('.card');
        if (card && card.parentElement) {
            card.parentElement.removeChild(card);
        }
    }
</script>



{% endblock  %} 